.btn {
  border: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  cursor: pointer;

  background-color: #f7be10;
  color: white;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 0 20px 2px;
  transition: background-color 0.2s;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #da1d1b;
}
