.form {
  background-image: linear-gradient(to bottom, rgb(25, 65, 88), rgb(5, 14, 23));
  padding: 10vh 20px;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__title {
  text-align: center;
  padding: 0 20px;
}

.form__title p {
  font-size: 32px;
  margin: 0;
}

.form__items {
  margin-top: 50px;
}

.form__item {
  min-width: 400px;
}

.form__item:not(:last-child) {
  margin-bottom: 30px;
}
