.letters {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.letters__items {
  padding: 80px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(427px, 1fr));
  gap: 40px 0;
  transform: translateZ(0);
}

@media (max-width: 500px) {
  .letters__items {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.letters__item {
  position: relative;
  height: 427px;
}

@media (max-width: 374px) {
  .letters__item {
    transform-origin: left;
    transform: scale(0.8);
  }
}

@media (max-width: 413px) {
  .letters__item {
    transform-origin: left;
    transform: scale(0.9);
  }
}
