.loading {
  background-color: #111;
  background-image: linear-gradient(rgb(25, 65, 88), rgb(5, 14, 23));
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width: 800px;
  visibility: hidden;
}
