.loading {
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transform: translateZ(0);
}

svg {
  width: 900px;
  visibility: hidden;
}
