.loading {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  transform: translateZ(0);
  background-color: forestgreen;
}

svg {
  width: 900px;
  visibility: hidden;
}
