.music {
  position: fixed;
  left: 40px;
  bottom: 0;
  z-index: 18;
}

@media (max-width: 750px) {
  .music {
    left: auto;
    right: 0;
    bottom: auto;
    top: 20px;
  }
}

.music__buttons {
  display: flex;
}

@media (max-width: 750px) {
  .music__buttons {
    flex-direction: column;
  }
}

.music__play {
  border: none;
  outline: none;
  padding: 20px;
  background-color: yellowgreen;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  border: 1px solid yellowgreen;
  border-bottom: none;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

@media (max-width: 750px) {
  .music__play {
    padding: 10px;
    border: 1px solid #a0d5d3;
    border-right: none;
  }
}

.music__play svg {
  width: 16px;
  height: 16px;
}

.music__play svg path {
  transition: fill 0.2s;
}

.music__play:hover,
.music__play.active {
  background-color: #b90101;
  color: white;
  border-color: white;
}

@media (max-width: 750px) {
  .music__play:hover,
  .music__play.active {
    border: 1px solid white;
    border-right: none;
  }
}

.music__play:hover svg path,
.music__play.active svg path {
  fill: white;
}

.music__play:active {
  transform: translateY(2px);
}

.music__play:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 750px) {
  .music__play:not(:last-child) {
    margin-bottom: 10px;
  }
}
